@charset "UTF-8";

body {
    color: rgb(95, 95, 95);
}

h1{
    color: #7b00b8;
    font-size: 2.3rem;
}

h2,h3,h4 {
    color: #0bd;
    padding: 3vh 0;
}

header img {
    margin-left: 5vw;
}

nav {
    background-color: #0bd;
    text-align: center;
}

nav ul {
    padding: 1rem 0;
}


nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem 4rem;
}

nav a:hover {
    color: black;
    transition: all 0.5s ease-in 100ms;
}

.main_top,.contents, .web_award {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.main_contents {
    width: 65vw;
    max-width: 1100px;
    min-width: 800px;
}

.main_top {
    display: flex;
}

.main_visual{
    width: 50%;
}

.main_visual img {
    width: 100%;
}

.process {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, .process {
    margin-left: 7vw;
}

.web_process {
    margin-top: 10vh;
}

.container {
    padding-right: 1vw;
    padding-left: 1vw;
    border: solid 2px #969696;
    border-radius: 20px;
}

.container img {
    width: 30%;
}

.container p{
    line-height: 1.7;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.web_award h4{
    text-align: center;
    font-size: 2rem;
    text-shadow:  0.4rem 0.4rem  rgb(255, 252, 162);
}

.web_award p {
    font-size: 1.4rem;
}

strong{
    color: rgb(194, 62, 1);
}

section {
    width: 18vw;
    min-width: 300px;
}

section ul li {
    list-style: none;
}

section ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

section li {
    border-bottom: 1px dashed #333;
}

section a:hover {
    color: #0bd;
}

.info, .link_set {
    border-bottom: 2px solid #0bd;
} 

footer {
    text-align: center;
    background-color: #0bd;
    color: white;
}

footer p {
    padding: 10px;
}


/* レスポンシブ対応 */
@media (max-width:1100px) {
    .wrapper {
        display: block;
    }

    .main_contents {
        width: 80vw;
        margin: auto;
    }

    section{
        width: 80vw;
        margin: auto;
        margin-bottom: 5vh;
    }
    
}

@media (max-width:640px) {
    .wrapper {
        display: block;
    }

    header img {
        width: 100%;
    }
    
    nav ul li {
        display: block;
    }

    .main_contents {
        width: 80vw;
        min-width: 300px;
        margin: auto;
    }

    .main_top {
        display: block;
    }

    section{
        width: 80vw;
        margin: auto;
        margin-bottom: 5vh;
    }

    .contents {
        display: block;
    }
    
}