@charset "UTF-8";

body{
    /* background-color: aliceblue; */
    color: rgb(95, 95, 95);
}

header{
    background-color: rgb(255, 252, 245);
}

main{
    background-color: rgb(255, 252, 245);
}

footer{
    background-color: rgb(217, 255, 202);
}

h1{
    color: rgb(255, 137, 126);
    font-size: 2.3rem;
}

h2, h3, h4{
    color: rgb(255, 137, 126);
    padding: 3vh 0;
}

header img{
    margin-left: 5vw;
}


nav{
    background-color: rgb(255, 126, 126);
    text-align: center;
}

nav ul {
    padding: 1rem 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem 4rem;
}

nav a:hover {
    color:black;
}

.main_top, .contents, .web_award{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.main_contents{
    width: 65vw;
    /* background-color: rgb(228, 249, 214); */
    /* margin: auto; */
}

.main_top{
    display:flex;
}


section{
    width: 18vw;
    background-color: rgb(255, 252, 245);
}

.main_visual{
    background-color: rbg(255, 247, 240);
    width: 50%;
}

.main_visual img{
    width: 100%;
}

.process{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1, .process{
    margin-left: 7vw;
}

.web_process{
    margin-top: 10vh;
}

.container{
    padding-right: 1vw;
    padding-left: 1vw;
    border: solid 1px black;
    border-radius: 20px;
}

.container img{
    width: 30%;
}

.container p{
    line-height: 1.7;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.web_award h4{
    text-align: center;
    font-size: 2rem;
    text-shadow: 0.4rem 0.4rem rgb(255,255,162);
}

.web_award p {
    font-size: 1.4rem;
    
}

strong{
    color: rgb(194, 62, 1);
}


section ul li {
    list-style: none;
}

section ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    transition: all 1s 500ms ease-in;
}

section li{
    border-bottom: 1px dashed #333;
}

section a:hover {
    color: #0bd;
}

.info, .link_set{
    border-bottom: 2px solid #0db;
}

footer{
    text-align: center;
    background-color: rgb(255, 126, 126);
    color: white;
}

footer p {
    padding: 10px;
}


/* -------２ページ目------------------- */
.profile {
    text-align: center;
    background-color: rgb(255, 252, 245);
}

.profile h1{
    margin: 0;
}

.profile p{
    font-size: 1.2rem;
    margin: 20px;
}

.profile img {
    width: 50%;
}

.profile_info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.favorite {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
}

.box {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.box img {
    width: 300px;
}

.box .text {
    width: 50%;
}